@tailwind base;
@tailwind components;
@tailwind utilities;


.h-96 {
  height: 30rem;
}
.h-80 {
  height: 22rem;
}
.h-60 {
  height: 18rem;
}
.h-40 {
  height: 15rem;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.rounded-tr-md {
  border-top-right-radius: 1rem; /* Adjust the value as needed */
  overflow: hidden; /* Ensures the overflow is hidden */
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
